@import "../../styles/mixin";

.sectionHeader{
    display: flex;
    padding: 1rem 2rem;
    flex-direction: column;
    width: 95%;
    margin-bottom: 1rem;
    margin-top: -0.5rem;

    .title{
        font-weight: 500;
    }
}

.activityDetails{
    display: flex;
    width: 100%;
    font-size: 1.2em;
    table{
        width: 60%;
        @include view(700px){
            width: 90%;
        }
    }
    th{
        text-align: left;
        padding: 1rem;
    }
    tr{
        td{
            padding: 1rem;
        }
    }
}