@import "../../styles/mixin";

.btn{
    padding: 0.8rem 1rem !important;
    font-weight: bold !important;
}

.sectionHeader{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 0 2rem;
    margin-top: -1rem;
    margin-bottom: 1rem;

    .title{
        font-weight: 400;
    }

    .btn{
        padding: 0.8rem 2rem !important;
    }
}

.form{
    display: flex;
    flex-direction: column;
    padding: 1rem 2rem;
    width: 100%;
    box-sizing: border-box;
    margin: 1rem;


        .row{
            display: flex;

            @include view(800px){
                flex-direction: column;
            }

            .column,.column2{
                flex: 1;
                padding: 1rem;
                display: flex;
                justify-content: space-around;
                align-items: center;
                padding-left: 0;
                // border:1px solid red;
                @include view(800px){
                    padding-bottom: 0;
                    padding-top: 0;
                }

                .inputBox{
                    // background-color: red;
                    display: flex;
                    align-self: center;
                    flex-direction: column;
                    justify-content: center;
                    .date{
                        margin-left: 2.5rem !important;
                    }

                    @include view(800px)
                    {
                        padding: 0.5rem;
                    }
                }
                .error,.dateError{
                    margin-bottom: -1rem;
                    color: red;
                    @include view(800px){
                        padding-bottom: 1rem;
                    }
                }
                .dateError{
                    margin-left: 2.5rem;
                }
            }

            .column2{
                justify-content: flex-end;

            }
        }

}