@import "../../styles/variables";
@import "../../styles/mixin";

.container{
    @include pageContainer("background.png");
}

.main{
    display: flex;
    width: 60%;
    padding: 2rem;
    margin: 1rem;
    margin-bottom: 3rem;
    background-color: $pure;
    border-radius: 4px;
    box-shadow: 0 1px 6px 0 $shadowColor;
    flex-wrap: wrap;

    @include view(1100px)
    {
        margin-top: 2rem;
    }
    @include DesktopView(1450px)
    {
        width: 55%;
        margin-top: 2.5rem;
    }

    .left{
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        img{
            width: 400px;

            @include view(650px)
            {
                width: 300px;
            }

            @include view(475px)
            {
                width: 200px;
            }
        }
    }

    .right{
        flex: 1;
    }
}