@import "../../styles/variables";
@import "../../styles/mixin";

.container{
    width: 80%;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    border: 1px solid $gray;
    margin: 1rem;
    margin-bottom: 0;
    border-radius: 4px;

    @include view(500px){
        width: 100%;
    }

    &:focus-within{
        border: 1px solid $primary_color;
        .icon{
            color: $primary_color;
        }
    }



    
    .icon{
        transform: scale(1);
        margin: 0.7rem 1rem;
        color: $gray;    
        @include view(500px){
            margin-right: 0.8rem;
        }
    }

    input{
        width: 100%;
        padding: 0.7rem 0;
        font-size: 1.2em;
        background: transparent;
        border: none;
        outline: none;



        @include view(500px){
            font-size: 1.1em;
        }
    }
}