@import "../../styles/variables";

.btn{
    margin: 0.8rem;
    padding: 1rem 3rem;
    min-width: 200px;
    font-size: 1.2em;
    border-radius: 30px;
    border: 0;
    background-color: $primary_color;
    color: $pure;
    outline: none;
    cursor: pointer;
}