@mixin pageContainer($imageName) {
    display: flex;
    min-height: 100vh;
    height: 100%;
    box-sizing: border-box;
    background-color: $pure;
    background: url("../images/" + $imageName);
    background-position: center;
    background-size: 100% 100%;
    flex-direction: column;
    align-items: center;
}

@mixin view($breakpoint) {
    @media screen and (max-width:$breakpoint) {
        @content    
    }
}

@mixin DesktopView($breakpoint) {
    @media screen and (min-width:$breakpoint) {
     @content   
    }
}

