$primary_color : #6333d5;
$pure:#ffffff;
$shadowColor:#202124;
$gray:#aaaaaa;
$dark:#000000;
$secondary_color : #233044;
$profileBG : #1e2a38;
$selected  :#1e293a;
$lightgray: #f7f9fc;
$lightPink:#f5165c;
$secondary_btn_color : #1976d2;