@import "../../styles/variables";
@import "../../styles/mixin";

.form{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    align-items: center;
    padding: 2rem 1rem;

    @include view(500px){
        padding: 2rem 0;
    }

    .title{
        display: flex;
        flex-direction: column;
        width: 80%;
        margin-bottom: 1rem;

        @include view(500px){
            width: 100%;
        }

        h1{
            margin-bottom: 0.5rem;
        }
        span{
            color: $gray;
        }
    }

    .forgotPassword{
        color: $shadowColor;
        text-decoration: none;
        font-size: 1em;
        cursor: pointer;
        margin-top:1rem;
    }

    .errorMsg{
        color: red;
        margin: 0;
        margin-top: 1rem;
    }
}
