@import "../../styles/variables";

.header{
    display: flex;
    width: 100%;
    padding: 0.5rem 2rem;
    align-self: flex-start;
    box-sizing: border-box;
    a{
        text-decoration: none;

        .title{
            font-size: 1.8em;
            cursor: pointer;
            color: $dark;
            span{
                color: $primary_color;
            }
        }
    }
}