@import "../../styles/variables";
@import "../../styles/mixin";

.container{
    @include pageContainer("rectagle_background.png");
}

.row{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 1rem 2rem;
    @include view(550px){
        h2{
            font-weight: 400;
        }
    }

    .btn{
        padding: 0.8rem 1rem !important;
        font-weight: bold !important;
    }
}



.main{
    flex: 1;
    width: 80%;
    padding: 1rem;
}