@import "../../styles/variables";
@import "../../styles/mixin";


.container{
    // display: flex;
    // min-height: 100vh;
    // height: 100%;
    // box-sizing: border-box;
    // background-color: $pure;
    // background: url("../../images/rectagle_background.png");
    // background-position: center;
    // background-size: 100% 100%;
    // flex-direction: column;
    // align-items: center;
    @include pageContainer("rectagle_background.png");
    transition: all 1sec;
}


.sectionHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
    padding: 1rem 2rem;
}

.btn{
    background-color: $primary_color;
    color: $pure;
    border: 0;
    cursor: pointer;
    outline: none;
    padding: 0.4rem;
    border-radius: 50%;
}
