@import "../../styles/variables";
@import "../../styles/mixin";

.modal{
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    width: 450px;
    padding: 1rem;
    background-color: $pure;
    border-radius: 4px;
    text-align: center;

    @include view(500px){
        width: 400px;
    }

    @include view(410px){
        width: 300px;
    }

    h2{
        font-weight: 500;
    }
    .select{
        width: 70%;
        margin: 1rem 2rem;
    }
    .btn{
        padding: 0.8rem 2rem;
        font-weight: bold;
        font-size: 1em;
        margin: 1rem;
    }
}