@import "../../styles/variables";
@import "../../styles/mixin";

.btnContainer{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.edit_btn,.detail_btn,.delete_btn{
    background-color: $primary_color;
    color: $pure;
    border: 0;
    cursor: pointer;
    outline: none;
    padding: 0.4rem;
    border-radius: 50%;
}
.detail_btn{
    background-color: $lightPink;
    margin-left: 0.5rem;
}
.delete_btn{
    background-color:red;
}
.download_btn{
    margin-right: -3rem;
    text-decoration: none;
    background-color: $secondary_btn_color;
    padding: 0.8rem;
    color: $pure;
    font-weight: bold;
    border-radius: 25px;
    cursor: pointer;
    border: 0;
    outline: none;
}
