@import "../../styles/mixin";

.container{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    img{
        width: 40%;
        margin-top: 4rem;
        @include view(500px){
            width: 70%;
        }
    }
}