@import "../../styles/variables";
@import "../../styles/mixin";

.form{
    width: 450px;
    box-sizing: border-box;
    align-self: center;
    padding: 2rem;
    border-radius: 10px;
    margin-bottom: 2rem;
    background-color: $pure;
    box-shadow: 0 1px 6px 0 $shadowColor;
    @include view(475px){
        width: 400px;
    }
    @include view(600px){
        margin-top: 2rem;
    }

    .title{
        display: flex;
        justify-content: center;
        margin-bottom: 1rem;
        h2{
            border-bottom: 2px solid $primary_color;
            padding: 0 4px 5px 5px;
            font-weight: 500;
        }
    }

    .row{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 2rem;

        span{
            font-size: 1.2em;
            margin-right: 4rem;
        }

        .uploadBtn,.downloadBtn{
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0.6rem 1rem;
            .icon{
                margin-right: 0.5rem;
            }
        }

        .downloadBtn{
            font-weight: 600;
            padding: 1rem 0.8rem;
        }
    }

    .btnContainer{
        display: flex;
        justify-content: center;
        align-items: center;
        .btn{
            padding: 0.5rem 2rem ;
            font-weight: 500;
            font-size: 1.2em;
            cursor: pointer;
            margin: 1rem auto;
        }
    }

    .fileName{
        padding-top: 1rem;
    }
}
